.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark-mode .navbar {
  background-color: #333;
  color: #fff;
}

.navbar-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.app-name {
  font-size: 24px;
  font-weight: 500;
}

.profile {
  position: relative;
  cursor: pointer;
  margin-left: auto;
}

.profile-pic {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 500;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 200px; /* Increase the width for better visibility */
}

.dropdown-menu button {
  background: none;
  border: none;
  padding: 10px 20px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu button:hover, .dropdown-menu button:focus {
  background-color: #282828;
  color: white;
}
